body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    margin: 40px;
}
h1,h2{
    text-align: center;
}

.content{
    width:90%;
    padding: 30px;
    margin: 0 auto;
    height: 200px;
    background-color: #ecf0f1;
}

a{
    margin-left: 30px;
    text-decoration:none;
    background: #34495e;
    padding: 7px 10px;
    color:#ecf0f1;
    border-radius: 2px;
}

ul li{
    margin-top: 30px;
}
a:hover{
    background-color: #95a5a6;
}

.topics{
    font-weight: bold;
    text-decoration: underline;
}